# Environment variables
.env

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Build directories
/bin/
/target/
/build/

# IDE specific files
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
